._1wnd{border-color:#ccc;font-size:14px;line-height:18px;white-space:nowrap;width:544px}._1nvz ._1wnd{width:384px}._4yfl{width:100%}._4j1s{float:right}._4j1s .uiInputLabelLabel{color:#191919;font-size:14px;font-weight:normal}._4j1v a{font-size:14px}
._6wy{color:#999;font-size:9px;font-weight:bold;text-shadow:0 1px 0 #fff;text-transform:uppercase}._6wz{padding-right:5px;vertical-align:middle}

#bootloader__sUUV{height:42px;}.bootloader__sUUV{display:block!important;}