._1jf5{position:relative}._1jf7{color:#4267b2}._1jf6{background-color:#f6f7f9;border:1px solid #e9ebee;border-radius:4px;display:block}
._3dsw{display:inline-block}

#bootloader_NG65N{height:42px;}.bootloader_NG65N{display:block!important;}